.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  z-index: 1000;
  width: 100%;
}

.login {
  margin-right: 2rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  cursor: pointer;
}

.logo {
  text-transform: uppercase;
  margin-left: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 3rem;
}

.logo span {
  color: #fb6362;
  margin-right: 0.5rem;
}

.navItems {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.listItem {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.listItem {
  position: relative;
}
.listItem:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #fff;
  height: 1px;
}
.listItem:hover:after {
  width: 100%;
}

.listItem:after,
.listItem:before {
  transition: all 0.5s;
}